In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [16]:
spark = SparkSession.builder \
    .appName("Top Performing States for Machines Sales") \
    .getOrCreate()

In [17]:
data = spark.read.csv("Sample - Superstore.csv", header=True, inferSchema=True)

# Register the DataFrame as a temporary view
data.createOrReplaceTempView("SuperstoreSales")

In [18]:
spark.sql('SELECT Region, SUM(Sales) AS Total_Sales FROM SuperstoreSales GROUP BY Region ORDER BY Total_Sales DESC').show()

+-------+------------------+
| Region|       Total_Sales|
+-------+------------------+
|   West| 713471.3445000004|
|   East| 672194.0539999981|
|Central| 497800.8728000007|
|  South|388983.58500000037|
+-------+------------------+

In [20]:
spark.sql("SELECT State, SUM(Sales) AS TotalSales FROM SuperstoreSales WHERE Category = 'Technology' AND `Sub-Category` = 'Machines' GROUP BY State ORDER BY TotalSales DESC").show()


# Execute the SQL query
#top_states_df = spark.sql(top_states_query)

# Show the top-performing states
#top_states_df.show())

+--------------------+------------------+
|               State|        TotalSales|
+--------------------+------------------+
|            New York|           43183.5|
|          California|29492.016000000003|
|             Florida|24573.940000000002|
|               Texas|19546.224000000002|
|      North Carolina|         12620.655|
|          New Jersey|           9899.85|
|                Ohio| 8978.238000000001|
|            Virginia|           8959.92|
|          Washington| 6066.152000000001|
|            Illinois|3756.3050000000003|
|            Michigan|          3410.955|
|            Colorado|3313.6890000000003|
|            Kentucky|            3080.0|
|             Alabama|            3040.0|
|              Nevada|            2396.4|
|        Pennsylvania|          2133.717|
|District of Columbia|           1379.92|
|             Arizona| 965.9490000000001|
|           Tennessee|           740.475|
|           Louisiana|            479.97|
+--------------------+------------------+
only showing top 20 rows

In [21]:
spark.sql('SELECT Region, AVG(Profit) AS Average_Profit FROM SuperstoreSales GROUP BY Region ORDER BY Average_Profit DESC').show()

+-------+------------------+
| Region|    Average_Profit|
+-------+------------------+
|   West|33.500999531689054|
|   East| 32.16399462780904|
|  South|28.796506790123484|
|Central|17.283901420576836|
+-------+------------------+

In [22]:
spark.sql("""
    SELECT State, SUM(Sales) AS Total_Sales 
    FROM SuperstoreSales 
    WHERE State IN ('Illinois', 'Louisiana', 'Missouri', 'New Jersey', 'Wisconsin') 
    GROUP BY State
""").show()

+----------+------------------+
|     State|       Total_Sales|
+----------+------------------+
|  Illinois|  79009.2869999999|
|  Missouri|          21557.91|
|New Jersey| 34600.57199999999|
| Louisiana| 9217.029999999999|
| Wisconsin|32091.890000000018|
+----------+------------------+

In [23]:
spark.sql('SELECT Segment, SUM(Quantity) AS TotalQuantity FROM SuperstoreSales GROUP BY Segment ORDER BY TotalQuantity DESC').show()

+-----------+------------------+
|    Segment|     TotalQuantity|
+-----------+------------------+
|   Consumer|27995.006999999983|
|  Corporate| 19647.90100000001|
|Home Office|10491.454000000002|
+-----------+------------------+

In [24]:
spark.sql('SELECT Category, SUM(Discount) AS Total_Discount FROM SuperstoreSales GROUP BY Category ORDER BY Total_Discount DESC').show()

+---------------+------------------+
|       Category|    Total_Discount|
+---------------+------------------+
|Office Supplies| 2366.694000000008|
|      Furniture| 505.6899999999982|
|     Technology|278.19999999999504|
+---------------+------------------+

In [26]:
spark.sql('SELECT `Ship Mode`, SUM(Sales) AS Total_Sales FROM SuperstoreSales GROUP BY `Ship Mode` ORDER BY Total_Sales DESC').show()

+--------------+------------------+
|     Ship Mode|       Total_Sales|
+--------------+------------------+
|Standard Class|1342260.1939999827|
|  Second Class|       453341.8504|
|   First Class|       349494.8469|
|      Same Day|127352.96500000001|
+--------------+------------------+

In [27]:
spark.sql('SELECT Category,SUM(Sales) AS TotalSales FROM SuperstoreSales GROUP BY Category ORDER BY TotalSales ASC').show()

+---------------+-----------------+
|       Category|       TotalSales|
+---------------+-----------------+
|Office Supplies|703502.9280000031|
|      Furniture|733046.8612999996|
|     Technology|835900.0669999964|
+---------------+-----------------+